In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("diabetes_prediction_project.csv")
data = pd.DataFrame(data)
temp_data = data

In [3]:
data.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [4]:
data.shape

(100000, 9)

In [5]:
data.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [7]:
data.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [8]:
data['diabetes'].value_counts()

0    91500
1     8500
Name: diabetes, dtype: int64

In [12]:
data = pd.get_dummies(data, columns = ['gender','smoking_history'])
print(data)

        age  hypertension  heart_disease    bmi  HbA1c_level  \
0      80.0             0              1  25.19          6.6
1      54.0             0              0  27.32          6.6
2      28.0             0              0  27.32          5.7
3      36.0             0              0  23.45          5.0
4      76.0             1              1  20.14          4.8
...     ...           ...            ...    ...          ...
99995  80.0             0              0  27.32          6.2
99996   2.0             0              0  17.37          6.5
99997  66.0             0              0  27.83          5.7
99998  24.0             0              0  35.42          4.0
99999  57.0             0              0  22.43          6.6

       blood_glucose_level  diabetes  gender_Female  gender_Male  \
0                      140         0              1            0
1                       80         0              1            0
2                      158         0              0            1
3                      155         0              1            0
4                      155         0              0            1
...                    ...       ...            ...          ...
99995                   90         0              1            0
99996                  100         0              1            0
99997                  155         0              0            1
99998                  100         0              1            0
99999                   90         0              1            0

       gender_Other  smoking_history_No Info  smoking_history_current  \
0                 0                        0                        0
1                 0                        1                        0
2                 0                        0                        0
3                 0                        0                        1
4                 0                        0                        1
...             ...                      ...                      ...
99995             0                        1                        0
99996             0                        1                        0
99997             0                        0                        0
99998             0                        0                        0
99999             0                        0                        1

       smoking_history_ever  smoking_history_former  smoking_history_never  \
0                         0                       0                      1
1                         0                       0                      0
2                         0                       0                      1
3                         0                       0                      0
4                         0                       0                      0
...                     ...                     ...                    ...
99995                     0                       0                      0
99996                     0                       0                      0
99997                     0                       1                      0
99998                     0                       0                      1
99999                     0                       0                      0

       smoking_history_not current
0                                0
1                                0
2                                0
3                                0
4                                0
...                            ...
99995                            0
99996                            0
99997                            0
99998                            0
99999                            0

[100000 rows x 16 columns]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   age                          100000 non-null  float64
 1   hypertension                 100000 non-null  int64
 2   heart_disease                100000 non-null  int64
 3   bmi                          100000 non-null  float64
 4   HbA1c_level                  100000 non-null  float64
 5   blood_glucose_level          100000 non-null  int64
 6   diabetes                     100000 non-null  int64
 7   gender_Female                100000 non-null  uint8
 8   gender_Male                  100000 non-null  uint8
 9   gender_Other                 100000 non-null  uint8
 10  smoking_history_No Info      100000 non-null  uint8
 11  smoking_history_current      100000 non-null  uint8
 12  smoking_history_ever         100000 non-null  uint8
 13  smoking_history_former       100000 non-null  uint8
 14  smoking_history_never        100000 non-null  uint8
 15  smoking_history_not current  100000 non-null  uint8
dtypes: float64(3), int64(4), uint8(9)
memory usage: 6.2 MB

In [16]:
condition1 = (data['HbA1c_level'] < 6.7) & (data['blood_glucose_level'] < 210)
partition1 = data[condition1]

In [17]:
partition1.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,80.0,0,1,25.19,6.6,140,0,1,0,0,0,0,0,0,1,0
1,54.0,0,0,27.32,6.6,80,0,1,0,0,1,0,0,0,0,0
2,28.0,0,0,27.32,5.7,158,0,0,1,0,0,0,0,0,1,0
3,36.0,0,0,23.45,5.0,155,0,1,0,0,0,1,0,0,0,0
4,76.0,1,1,20.14,4.8,155,0,0,1,0,0,1,0,0,0,0

In [18]:
condition2 = (data['HbA1c_level'] < 6.7) & (data['blood_glucose_level'] >= 210)
partition2 = data[condition2]

In [19]:
partition2.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
38,50.0,1,0,27.32,5.7,260,1,0,1,0,0,1,0,0,0,0
87,36.0,0,0,32.27,6.2,220,1,1,0,0,0,1,0,0,0,0
125,77.0,0,0,31.70,6.5,280,1,1,0,0,0,0,0,0,1,0
146,53.0,0,0,30.80,6.6,280,1,0,1,0,0,1,0,0,0,0
199,43.0,0,0,26.71,6.5,300,1,1,0,0,0,0,0,0,1,0

In [20]:
condition3 = (data['HbA1c_level'] >= 6.7)
partition3 = data[condition3]

In [21]:
partition3.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
40,73.0,0,0,25.91,9.0,160,1,0,1,0,0,0,0,1,0,0
53,53.0,0,0,27.32,7.0,159,1,1,0,0,0,0,0,1,0,0
55,50.0,0,0,37.16,9.0,159,1,0,1,0,0,0,0,1,0,0
59,67.0,0,0,63.48,8.8,155,1,1,0,0,0,0,0,0,1,0
81,57.0,0,0,27.32,8.2,126,1,0,1,0,1,0,0,0,0,0